<div class="intro-container">
<h3 class="com">Begin secure beacon based communication 2:</h3>
<p class="intro">
  Friend,
It seems the address you’ve discovered and located has quite the devious past! Our researchers have acquired a great deal of information by hacking into the records of the Tennessee State Historical Database. Please note the report I have included from our researchers.

</p>
  <p class="quote">The following facts were obtained from a testimony in the daily journal of a Mr. Charles H. Eastman, who it seems knew one of our Knights well when he lived in Davidson County.

Mr. and Mrs. Eastman at that time lived with Mrs. Eastman’s father and mother, Judge and Mrs. G. C. Cantrell at what is now Bordeaux, in the fine old mansion afterwards known as “Cedarnwold”. There was no Hydes Ferry bridge then, and the ferry was apparently a few hundred yards below the present bridge. The road to the ferry passed in front of the old residence and on this road nearly opposite “Cedarnwold”, were a few little cottages, in of which one of our Infernal Knights lived. Apparently Mr. Eastman, being a private in the Confederate Army, served with our conspirator during the war. Eastman goes on to write:

“I knew my compatriot as “Mr. Woodson” during his stay near my home. Of course, during the great struggle of the war I was obliged to call upon him by his true name. We visited back and forth across the road and “Mr. Woodson” would often come and sit with us on our porch of evenings. He was fond of Shakespeare and the drama and could quote extensively from the great playwright, and poet. It was our congenial literary tastes that first brought us close together so many years ago. He often rode to town with me in my buggy to tend to some affairs of a very secret and important matter.

One morning I received terrible news as to the common goal we both had worked so diligently toward. A mutual friend had been discovered and apprehended the night before. When I hurried to the cottage to apprise my dear friend “Woodson” of the situation, I discovered he was already gone. Horses, wagons, furniture and all. All that was left, nailed to the front door, was a note which read:
</p>
<p class="quote">
FEER SAMSON
</p>
<p class="quote">
HE WANTS LLIVES
</p>
<p class="intro">
  If there is an closing statement, it will go here. If we just do a simple clue, that content can go here or in the quote area.
</p>

<p class="sincere">
This is where Q signs off.
</p>

</div>
{{outlet}}
